<% sum = 0 %>
<% number = 0 %>
<% reviews = Review.where(product_id: product.id) %>
<% reviews.each do |rev| %>
  <% sum += rev.rating%>
  <% number += 1%>
<% end %>
<% if number != 0 %>
  <% rating_average = sum/number %>


 <% rating_average_float = sum/number.to_f %>
 <%rating_array = rating_average_float.divmod 1 %>

<% end %>


<article class="product">
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <p class="description">
    <%= product.description %>
  </p>
  <p class="description">
    <% if rating_average %>
      <% rating_array[0].times do %>
        <i class="fa fa-star" aria-hidden="true" style="color: #f4c542 ;">
        </i>
      <% end %>
      <% if rating_array[1] != 0 %>
        <i class="fa fa-star-half" aria-hidden="true" style="color: #f4c542 ;"> </i>
      <% end %>
    <% end %>
  </p>

  <footer class="actions">
    <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary', method: :put do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>

  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>

  <% if product.stock? %>
    <aside class="sold_out">
       SOLD OUT !
    </aside>
  <% end %>

</article>
